/* large desktop and above */
@media only screen and (min-width: 1200px) {
  .hero-height {
    height: 720px;
    width: 100%;
    background-image: url(/img/netflix-2872249.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-color {
    color: red;
    font-size: 50px;
  }
  .coustom-color {
    background-color: red;
    color: white;
    height: 40px;
  }
  .text-height {
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 180px;
  }
  .font-size1 {
    font-size: 50px;
  }
  .font-size2 {
    font-size: 25px;
  }
  .font-size3 {
    font-size: 22px;
  }
  .coustom-input {
    height: 60px;
    width: 400px;
    outline: none;
    background: transparent;
    backdrop-filter: blur(2px);
    color: white;
    margin-left: 160px;
  }
  .costom-color2 {
    background-color: red;
    width: 180px;
    height: 60px;
  }
  .coustom-input::placeholder {
    color: white;
  }
  .line-gray {
    height: 8px;
    width: 100%;
    background-color: rgb(61, 59, 59);
  }
  /* end hero section */

  /* start 2rd section */
  .black-1 {
    height: 550px;
    width: 100%;
    background-color: black;
  }
  .box-1 {
    height: 300px;
    width: 45%;
    margin-top: 150px;
  }
  .font-4 {
    color: white;
    font-size: 50px;
  }
  .font-5 {
    color: white;
    font-size: 24px;
  }
  .box-2 {
    height: 400px;
    width: 45%;
    margin-top: 70px;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* start 3rd section */
  .black-2 {
    height: 650px;
    background-color: black;
  }
  .box-3 {
    height: 400px;
    width: 45%;
    margin-top: 150px;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-4 {
    height: 400px;
    width: 45%;
    margin-top: 180px;
  }
  .font-6 {
    font-size: 46px;
  }
  .font-7 {
    font-size: 29px;
  }

  /* start 4th section */
  .black-3 {
    height: 400px;
    background-color: black;
  }
  .box-5 {
    height: 350px;
    width: 40%;
    margin-left: 15%;
    padding-top: 5%;
  }
  .font-8 {
    font-size: 60px;
  }
  .font-9 {
    font-size: 28px;
  }
  /* start 5th section */
  .black-4 {
    height: 600px;
    background-color: black;
  }
  .box-6 {
    height: 400px;
    width: 45%;
    margin-top: 100px;
    background-image: url(https://occ-0-1917-64.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABejKYujIIDQciqmGJJ8BtXkYKKTi5jiqexltvN1YmvXYIfX8B9CYwooUSIzOKneblRFthZAFsYLMgKMyNfeHwk16DmEkpIIcb6A3.png?r=f55);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-7 {
    height: 400px;
    width: 45%;
    margin-top: 150px;
  }
  .font-10 {
    font-size: 52px;
  }
  .font-11 {
    font-size: 23px;
  }
  /* start 5th section */

  .black-5 {
    height: 900px;
    background-color: black;
  }
  .box-8 {
    height: 150px;
    width: 80%;
    margin: auto;
  }
  .font-12 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 60px;
  }
  .box-9 {
    height: 80px;
    width: 95%;

    margin: auto;
    margin-top: 10px;
    background-color: #2d2d2d;
  }
  .font-13 {
    padding-top: 20px;
    padding-left: 25px;
    font-size: 25px;
  }
  .font-14 {
    font-size: 50px;
    padding-right: 25px;
    padding-top: 15px;
  }
  .box-10 {
    height: 50px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
  }
  .box-11 {
    height: 100px;
    width: 55%;
    margin: auto;
  }
  .coustom-input-2 {
    background-color: black;
    outline: none;
    width: 420px;
    height: 60px;
  }
  .coustom-input-2::placeholder {
    color: white;
    padding-left: 10px;
  }
  .coustom-btn {
    background-color: red;
    color: white;
    width: 200px;
    height: 60px;
    font-weight: bolder;
    font-size: 25px;
  }
  /* start 7th sectionn  */

  .black-6 {
    height: 400px;
    width: 100%;
    background-color: black;
  }
  .box-12 {
    height: 350px;
    width: 24%;
  }
  a {
    color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .coustom-btn-1 {
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    width: 110px;
  }
}
/* desktop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-height {
    height: 600px;
    width: 100%;
    background-image: url(/img/netflix-2872249.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-color {
    color: red;
    font-size: 40px;
  }
  .coustom-color {
    background-color: red;
    color: white;
    height: 40px;
    margin-top: 10px;
  }
  .text-height {
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 180px;
  }
  .font-size1 {
    font-size: 40px;
    text-align: center;
  }
  .font-size2 {
    font-size: 20px;
    text-align: center;
  }
  .font-size3 {
    font-size: 18px;
    text-align: center;
  }
  .coustom-input {
    height: 50px;
    width: 350px;
    outline: none;
    background: transparent;
    backdrop-filter: blur(2px);
    color: white;
    margin-left: 110px;
  }
  .coustom-input::placeholder {
    color: white;
  }
  .costom-color2 {
    background-color: red;
    width: 180px;
    height: 55px;
  }
  .line-gray {
    height: 8px;
    width: 100%;
    background-color: rgb(61, 59, 59);
  }
  /* end hero section */
  .black-1 {
    height: 520px;
    width: 100%;
    background-color: black;
  }
  .box-1 {
    height: 300px;
    width: 45%;
    margin-top: 150px;
  }
  .font-4 {
    color: white;
    font-size: 50px;
  }
  .font-5 {
    color: white;
    font-size: 24px;
  }
  .box-2 {
    height: 350px;
    width: 45%;
    margin-top: 80px;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* start 2nd section */
  .black-2 {
    height: 650px;
    background-color: black;
  }
  .box-3 {
    height: 400px;
    width: 45%;
    margin-top: 150px;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-4 {
    height: 400px;
    width: 45%;
    margin-top: 180px;
  }
  .font-6 {
    font-size: 60px;
  }
  .font-7 {
    font-size: 23px;
  }
  /* start 3rd section */
  .black-3 {
    height: 400px;
    background-color: black;
  }
  .box-5 {
    height: 350px;
    width: 40%;
    margin-left: 7%;
    padding-top: 5%;
  }
  .font-8 {
    font-size: 50px;
  }
  .font-9 {
    font-size: 23px;
  }

  /* start 4th section */
  .black-4 {
    height: 600px;
    background-color: black;
  }
  .box-6 {
    height: 400px;
    width: 45%;
    margin-top: 100px;
    background-image: url(https://occ-0-1917-64.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABejKYujIIDQciqmGJJ8BtXkYKKTi5jiqexltvN1YmvXYIfX8B9CYwooUSIzOKneblRFthZAFsYLMgKMyNfeHwk16DmEkpIIcb6A3.png?r=f55);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-7 {
    height: 400px;
    width: 45%;
    margin-top: 150px;
  }
  .font-10 {
    font-size: 52px;
  }
  .font-11 {
    font-size: 25px;
  }
  /* start 5th section */

  .black-5 {
    height: 900px;
    background-color: black;
  }
  .box-8 {
    height: 150px;
    width: 80%;
    margin: auto;
  }
  .font-12 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 60px;
  }
  .box-9 {
    height: 80px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    background-color: #2d2d2d;
  }
  .font-13 {
    padding-top: 20px;
    padding-left: 25px;
    font-size: 25px;
  }
  .font-14 {
    font-size: 50px;
    padding-right: 25px;
    padding-top: 15px;
  }
  .box-10 {
    height: 50px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
  }
  .box-11 {
    height: 100px;
    width: 55%;
    margin: auto;
  }
  .coustom-input-2 {
    background-color: black;
    outline: none;
    width: 320px;
    height: 60px;
  }
  .coustom-input-2::placeholder {
    color: white;
    padding-left: 10px;
  }
  .coustom-btn {
    background-color: red;
    color: white;
    width: 200px;
    height: 60px;
    font-weight: bolder;
    font-size: 25px;
  }
  .font-15 {
    font-size: 19px;
  }

  /* start 7th sectionn  */

  .black-6 {
    height: 400px;
    width: 100%;
    background-color: black;
  }
  .box-12 {
    height: 350px;
    width: 24%;
  }
  a {
    color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .coustom-btn-1 {
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    width: 110px;
  }
}

@media only screen and (min-width: 1400px) {
  .coustom-input {
    margin-left: 250px;
  }
  /* end hero section */
  .font-5 {
    color: white;
    font-size: 30px;
  }
  .font-6 {
    font-size: 60px;
  }
  .font-7 {
    font-size: 32px;
  }
  .coustom-input-2 {
    background-color: black;
    outline: none;
    width: 420px;
    height: 60px;
    margin-left: 70px;
  }
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-height {
    height: 500px;
    width: 100%;
    background-image: url(/img/netflix-2872249.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-color {
    color: red;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .coustom-color {
    background-color: red;
    color: white;
    height: 35px;
    margin-right: 15px;
    margin-top: 25px;
  }
  .text-height {
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 130px;
  }
  .font-size1 {
    font-size: 30px;
    text-align: center;
  }
  .font-size2 {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
  }
  .font-size3 {
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
  }
  .coustom-input {
    height: 50px;
    width: 340px;
    outline: none;
    background: transparent;
    backdrop-filter: blur(2px);
    color: white;
    margin-left: 35px;
    margin-top: 7px;
  }
  .costom-color2 {
    background-color: red;
    width: 190px;
    height: 55px;
  }
  .coustom-input::placeholder {
    color: white;
  }
  .line-gray {
    height: 8px;
    width: 100%;
    background-color: rgb(61, 59, 59);
  }
  /* end hero section */

  .black-1 {
    height: 650px;
    width: 100%;
    background-color: black;
  }
  .box-1 {
    height: 250px;
    width: 90%;
    margin: auto;
  }
  .font-4 {
    color: white;
    font-size: 42px;
    padding-top: 50px;
    text-align: center;
  }
  .font-5 {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
  }
  .box-2 {
    height: 350px;
    width: 90%;
    margin-top: 80px;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
  /* start 2nd section */

  .black-2 {
    height: 730px;
    background-color: black;
  }
  .box-3 {
    height: 400px;
    width: 45%;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
  .box-4 {
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
  .font-6 {
    font-size: 39px;
    text-align: center;
  }
  .font-7 {
    font-size: 22px;
    text-align: center;
  }

  /* start 3rd section */
  .black-3 {
    height: 250px;
    background-color: black;
  }
  .box-5 {
    height: 150px;
    width: 90%;
    margin-left: 7%;
    padding-top: 5%;
  }
  .font-8 {
    font-size: 35px;
    text-align: center;
  }
  .font-9 {
    font-size: 20px;
    text-align: center;
  }

  /* start 4th section */
  .black-4 {
    height: 600px;
    background-color: black;
  }
  .box-6 {
    height: 400px;
    width: 45%;
    margin: auto;
    background-image: url(https://occ-0-1917-64.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABejKYujIIDQciqmGJJ8BtXkYKKTi5jiqexltvN1YmvXYIfX8B9CYwooUSIzOKneblRFthZAFsYLMgKMyNfeHwk16DmEkpIIcb6A3.png?r=f55);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-7 {
    height: 150px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
  }
  .font-10 {
    font-size: 40px;
    text-align: center;
  }
  .font-11 {
    font-size: 19px;
    text-align: center;
  }
  /* start 5th section */

  .black-5 {
    height: 850px;
    background-color: black;
  }
  .box-8 {
    height: 100px;
    width: 80%;
    margin: auto;
  }
  .font-12 {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    padding-top: 40px;
  }
  .box-9 {
    height: 80px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    background-color: #2d2d2d;
  }
  .font-13 {
    padding-top: 20px;
    padding-left: 25px;
    font-size: 25px;
  }
  .font-14 {
    font-size: 50px;
    padding-right: 25px;
    padding-top: 15px;
  }
  .box-10 {
    height: 50px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
  }
  .box-11 {
    height: 100px;
    width: 80%;
    margin: auto;
  }
  .coustom-input-2 {
    background-color: black;
    outline: none;
    width: 400px;
    height: 60px;
  }
  .coustom-input-2::placeholder {
    color: white;
    padding-left: 10px;
  }
  .coustom-btn {
    background-color: red;
    color: white;
    width: 200px;
    height: 60px;
    font-weight: bolder;
    font-size: 25px;
  }
  .font-15 {
    font-size: 19px;
  }
  /* start 7th sectionn  */

  .black-6 {
    height: 350px;
    width: 100%;
    background-color: black;
  }
  .box-12 {
    height: 330px;
    width: 23%;
  }
  a {
    color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .coustom-btn-1 {
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    width: 110px;
  }
  .font-16 {
    font-size: 15px;
  }
}

/* larger smartphones */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-height {
    height: 500px;
    width: 100%;
    background-image: url(/img/netflix-2872249.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-color {
    color: red;
    font-size: 25px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .coustom-color {
    background-color: red;
    color: white;
    width: 80px;
    margin-right: 15px;
    margin-top: 25px;
  }
  .text-height {
    height: 380px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
  .font-size1 {
    font-size: 32px;
    text-align: center;
  }
  .font-size2 {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
  }
  .font-size3 {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
  }
  .coustom-input {
    height: 50px;
    width: 498px;
    outline: none;
    background: transparent;
    backdrop-filter: blur(2px);
    color: white;

    margin-top: 5px;
  }
  .costom-color2 {
    background-color: red;
    width: 170px;
    height: 50px;
    margin-top: 40px;
    margin-left: 150px;
  }
  .coustom-input::placeholder {
    color: white;
    padding-left: 20px;
  }
  .line-gray {
    height: 8px;
    width: 100%;
    background-color: rgb(61, 59, 59);
  }
  /* end hero section */

  .black-1 {
    height: 650px;
    width: 100%;
    background-color: black;
  }
  .box-1 {
    height: 200px;
    width: 90%;
    margin: auto;
  }
  .font-4 {
    color: white;
    font-size: 35px;
    padding-top: 50px;
    text-align: center;
  }
  .font-5 {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
  }
  .box-2 {
    height: 350px;
    width: 90%;
    margin-top: 80px;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
  /* start 3rd section */

  .black-2 {
    height: 650px;
    background-color: black;
  }
  .box-3 {
    height: 400px;
    width: 45%;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
  .box-4 {
    height: 150px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  .font-6 {
    font-size: 35px;
    text-align: center;
  }
  .font-7 {
    font-size: 18px;
    text-align: center;
  }

  /* start 4th section */
  .black-3 {
    height: 200px;
    background-color: black;
  }
  .box-5 {
    height: 150px;
    width: 90%;
    margin-left: 7%;
    padding-top: 5%;
  }
  .font-8 {
    font-size: 35px;
    text-align: center;
  }
  .font-9 {
    font-size: 20px;
    text-align: center;
  }

  /* start 5th section */
  .black-4 {
    height: 500px;
    background-color: black;
  }
  .box-6 {
    height: 300px;
    width: 90%;
    margin: auto;
    background-image: url(https://occ-0-1917-64.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABejKYujIIDQciqmGJJ8BtXkYKKTi5jiqexltvN1YmvXYIfX8B9CYwooUSIzOKneblRFthZAFsYLMgKMyNfeHwk16DmEkpIIcb6A3.png?r=f55);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box-7 {
    height: 150px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
  }
  .font-10 {
    font-size: 30px;
    text-align: center;
  }
  .font-11 {
    font-size: 19px;
    text-align: center;
  }

  /* start 5th section */

  .black-5 {
    height: 920px;
    background-color: black;
  }
  .box-8 {
    height: 100px;
    width: 80%;
    margin: auto;
  }
  .font-12 {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    padding-top: 40px;
  }
  .box-9 {
    height: 80px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    background-color: #2d2d2d;
  }
  .font-13 {
    padding-top: 20px;
    padding-left: 25px;
    font-size: 20px;
  }
  .font-14 {
    font-size: 30px;
    padding-right: 25px;
    padding-top: 20px;
  }
  .box-10 {
    height: 70px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
  }
  .box-11 {
    height: 150px;
    width: 90%;
    margin: auto;
  }
  .coustom-input-2 {
    background-color: black;
    outline: none;
    width: 520px;
    height: 60px;
  }
  .coustom-input-2::placeholder {
    color: white;
    padding-left: 10px;
  }
  .coustom-btn {
    background-color: red;
    color: white;
    width: 200px;
    height: 60px;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 32%;
    margin-top: 20px;
  }
  .font-15 {
    font-size: 19px;
  }

  /* start 7th sectionn  */

  .black-6 {
    height: 300px;
    width: 100%;
    background-color: black;
  }
  .box-12 {
    height: 330px;
    width: 23%;
  }
  a {
    color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .coustom-btn-1 {
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-left: 20px;

    font-size: 10px;
  }
  .font-16 {
    font-size: 11px;
  }
}
